@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

.bouncer {
  animation: bouncer linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: bouncer linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: bouncer linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: bouncer linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: bouncer linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes bouncer {
  0% {
    transform: translate(1px, 20px);
  }
  24% {
    transform: translate(1px, 30px);
  }
  50% {
    transform: translate(1px, 12px);
  }
  74% {
    transform: translate(1px, 22px);
  }
  100% {
    transform: translate(1px, 22px);
  }
}

@-moz-keyframes bouncer {
  0% {
    -moz-transform: translate(1px, 20px);
  }
  24% {
    -moz-transform: translate(1px, 30px);
  }
  50% {
    -moz-transform: translate(1px, 12px);
  }
  74% {
    -moz-transform: translate(1px, 22px);
  }
  100% {
    -moz-transform: translate(1px, 22px);
  }
}

@-webkit-keyframes bouncer {
  0% {
    -webkit-transform: translate(1px, 20px);
  }
  24% {
    -webkit-transform: translate(1px, 30px);
  }
  50% {
    -webkit-transform: translate(1px, 12px);
  }
  74% {
    -webkit-transform: translate(1px, 22px);
  }
  100% {
    -webkit-transform: translate(1px, 22px);
  }
}

@-o-keyframes bouncer {
  0% {
    -o-transform: translate(1px, 20px);
  }
  24% {
    -o-transform: translate(1px, 30px);
  }
  50% {
    -o-transform: translate(1px, 12px);
  }
  74% {
    -o-transform: translate(1px, 22px);
  }
  100% {
    -o-transform: translate(1px, 22px);
  }
}

@-ms-keyframes bouncer {
  0% {
    -ms-transform: translate(1px, 20px);
  }
  24% {
    -ms-transform: translate(1px, 30px);
  }
  50% {
    -ms-transform: translate(1px, 12px);
  }
  74% {
    -ms-transform: translate(1px, 22px);
  }
  100% {
    -ms-transform: translate(1px, 22px);
  }
}
